In [52]:
import pandas as pd

In [53]:
cuzzine=pd.read_csv('chefmozcuisine.csv')
place=pd.read_csv('geoplaces2.csv')
rating=pd.read_csv('rating_final.csv')

In [54]:
print(cuzzine.head())

   placeID        Rcuisine
0   135110         Spanish
1   135109         Italian
2   135107  Latin_American
3   135106         Mexican
4   135105       Fast_Food

In [55]:
print(place.head())

   placeID   latitude   longitude  \
0   134999  18.915421  -99.184871
1   132825  22.147392 -100.983092
2   135106  22.149709 -100.976093
3   132667  23.752697  -99.163359
4   132613  23.752903  -99.165076

                                      the_geom_meter  \
0  0101000020957F000088568DE356715AC138C0A525FC46...
1  0101000020957F00001AD016568C4858C1243261274BA5...
2  0101000020957F0000649D6F21634858C119AE9BF528A3...
3  0101000020957F00005D67BCDDED8157C1222A2DC8D84D...
4  0101000020957F00008EBA2D06DC8157C194E03B7B504E...

                             name                                 address  \
0                 Kiku Cuernavaca                              Revolucion
1                 puesto de tacos  esquina santos degollado y leon guzman
2      El Rincï¿½n de San Francisco                         Universidad 169
3  little pizza Emilio Portes Gil                 calle emilio portes gil
4                   carnitas_mata                  lic. Emilio portes gil

              city            state country fax      ...        \
0       Cuernavaca          Morelos  Mexico   ?      ...
1           s.l.p.           s.l.p.  mexico   ?      ...
2  San Luis Potosi  San Luis Potosi  Mexico   ?      ...
3        victoria        tamaulipas       ?   ?      ...
4         victoria       Tamaulipas  Mexico   ?      ...

             alcohol smoking_area dress_code     accessibility   price  \
0  No_Alcohol_Served         none   informal  no_accessibility  medium
1  No_Alcohol_Served         none   informal        completely     low
2          Wine-Beer  only at bar   informal         partially  medium
3  No_Alcohol_Served         none   informal        completely     low
4  No_Alcohol_Served    permitted   informal        completely  medium

                     url Rambience franchise    area other_services
0  kikucuernavaca.com.mx  familiar         f  closed           none
1                      ?  familiar         f    open           none
2                      ?  familiar         f    open           none
3                      ?  familiar         t  closed           none
4                      ?  familiar         t  closed           none

[5 rows x 21 columns]

In [56]:
print(rating.head())

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [57]:
place.drop(['the_geom_meter', 'fax', 'zip',
       'alcohol', 'smoking_area', 'dress_code', 'accessibility',
       'url', 'Rambience', 'franchise', 'area', 'other_services', 'name', 'address', 'city', 'state',
       'country','price'],axis=1,inplace=True)
print(place.columns)

Index(['placeID', 'latitude', 'longitude'], dtype='object')

In [58]:
print(place.head())
#place.set_index('placeID')

   placeID   latitude   longitude
0   134999  18.915421  -99.184871
1   132825  22.147392 -100.983092
2   135106  22.149709 -100.976093
3   132667  23.752697  -99.163359
4   132613  23.752903  -99.165076

In [59]:
data=(rating.rating * rating.food_rating * rating.service_rating)/3
data=round(data,1)

In [60]:
rating['ave_rating']=data
list=[]
for i in range(0,1161):
    list.append(i)
#rating.drop([list],axis=1,inplace=True)
rating.drop(['rating','food_rating','service_rating','userID'],axis=1,inplace=True)
print(rating.head())
#rating.set_index('placeID')

   placeID  ave_rating
0   135085         2.7
1   135038         1.3
2   132825         2.7
3   135060         1.3
4   135104         0.7

In [61]:
#cuzzine.set_index('placeID')

In [62]:
result = pd.merge(rating,place,on= 'placeID')
result = pd.merge(result,cuzzine,on= 'placeID')
#print(result.head())
rating_count=pd.DataFrame(result.placeID.value_counts())
#print(rating_count.head())
rating_count.columns = [ 'Count']
#print(rating_count.head())
rating_count.index.name = 'placeID'
print(rating_count.head())
rating_count['placeID'] = rating_count.index
print(rating_count.head())
rating_count.reset_index(drop=True,inplace=True)
print(rating_count.head())
result = pd.merge(rating_count,result,on= 'placeID')
print(result.head())

         Count
placeID
135032      56
135052      50
135085      36
135041      34
132825      32
         Count  placeID
placeID
135032      56   135032
135052      50   135052
135085      36   135085
135041      34   135041
132825      32   132825
   Count  placeID
0     56   135032
1     50   135052
2     36   135085
3     34   135041
4     32   132825
   Count  placeID  ave_rating   latitude   longitude      Rcuisine
0     56   135032         1.3  22.152481 -100.973486     Cafeteria
1     56   135032         1.3  22.152481 -100.973486  Contemporary
2     56   135032         1.3  22.152481 -100.973486     Cafeteria
3     56   135032         1.3  22.152481 -100.973486  Contemporary
4     56   135032         0.0  22.152481 -100.973486     Cafeteria

In [63]:
import numpy as np
users = result['placeID'].unique()
print(len(users))
result=result.groupby(['placeID','latitude','longitude','Rcuisine']).mean()
print(result.head())

95
                                         Count  ave_rating
placeID latitude  longitude   Rcuisine
132560  23.752304 -99.166913  Regional       4    0.175000
132572  22.141647 -100.992712 Cafeteria     15    0.740000
132583  18.922290 -99.234332  American       4    0.850000
132584  23.752365 -99.165288  Mexican        6    1.133333
132594  23.752168 -99.165709  Mexican        5    0.260000

In [66]:
print(len(result))
#rating_count['placeID'] = rating_count.index
print(result.head())
result.to_csv("restaurant.csv")

112
                                         Count  ave_rating
placeID latitude  longitude   Rcuisine
132560  23.752304 -99.166913  Regional       4    0.175000
132572  22.141647 -100.992712 Cafeteria     15    0.740000
132583  18.922290 -99.234332  American       4    0.850000
132584  23.752365 -99.165288  Mexican        6    1.133333
132594  23.752168 -99.165709  Mexican        5    0.260000

In [170]:
user_cuzzine=pd.read_csv('usercuisine.csv')
user_profile=pd.read_csv('userprofile.csv')

In [171]:
print(user_profile.columns)

Index(['userID', 'latitude', 'longitude', 'smoker', 'drink_level',
       'dress_preference', 'ambience', 'transport', 'marital_status', 'hijos',
       'birth_year', 'interest', 'personality', 'religion', 'activity',
       'color', 'weight', 'budget', 'height'],
      dtype='object')

In [172]:
user_profile.drop([ 'smoker', 'drink_level',
       'dress_preference', 'ambience', 'transport', 'marital_status', 'hijos',
       'birth_year', 'interest', 'personality', 'religion', 'activity',
       'color', 'weight', 'budget', 'height'],axis=1,inplace=True)

In [173]:
print(user_profile.columns)
print(user_cuzzine.columns)

Index(['userID', 'latitude', 'longitude'], dtype='object')
Index(['userID', 'Rcuisine'], dtype='object')

In [174]:
end = pd.merge(user_profile,user_cuzzine,on= 'userID')
print(end.head())
#end.to_csv("user.csv")

  userID   latitude   longitude          Rcuisine
0  U1001  22.139997 -100.978803          American
1  U1002  22.150087 -100.983325           Mexican
2  U1003  22.119847 -100.946527           Mexican
3  U1004  18.867000  -99.183000            Bakery
4  U1004  18.867000  -99.183000  Breakfast-Brunch

In [78]:
restaurant=pd.read_csv('restaurant.csv')
restaurant.drop('Unnamed: 0',axis=1,inplace=True)
restaurant.columns = ['Count', 'placeID', 'ave_rating', 'latitude', 'longitude', 'Service']
print(restaurant.columns)
restaurant.to_csv("restaurant.csv")

Index(['Count', 'placeID', 'ave_rating', 'latitude', 'longitude', 'Service'], dtype='object')